appdetectcanary/Web References/WebReference4/detaservicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://detagavos.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://detagavos.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://detagavos.org/">
      <s:element name="Comparar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imagen" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompararResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompararResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CompararSoapIn">
    <wsdl:part name="parameters" element="tns:Comparar" />
  </wsdl:message>
  <wsdl:message name="CompararSoapOut">
    <wsdl:part name="parameters" element="tns:CompararResponse" />
  </wsdl:message>
  <wsdl:portType name="detaservicioSoap">
    <wsdl:operation name="Comparar">
      <wsdl:input message="tns:CompararSoapIn" />
      <wsdl:output message="tns:CompararSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="detaservicioSoap" type="tns:detaservicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Comparar">
      <soap:operation soapAction="http://detagavos.org/Comparar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="detaservicioSoap12" type="tns:detaservicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Comparar">
      <soap12:operation soapAction="http://detagavos.org/Comparar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="detaservicio">
    <wsdl:port name="detaservicioSoap" binding="tns:detaservicioSoap">
      <soap:address location="http://35.224.24.202/detaservicio.asmx" />
    </wsdl:port>
    <wsdl:port name="detaservicioSoap12" binding="tns:detaservicioSoap12">
      <soap12:address location="http://35.224.24.202/detaservicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>